{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- banner section start -->
<div class="layout_padding banner_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="banner_taital">All You Need Is Here & Classified</h1>
                <p class="browse_text">Browse from more than 15,000,000 adverts while new ones come on daily bassis</p>
                <div class="banner_bt">
                    <button class="read_bt">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner section end -->
<!-- search box start -->
<div class="container">
    <div class="search_box">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" class="email_boton" placeholder="Search for" name="Email">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" class="email_boton" placeholder="Loction in" name="Email">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" class="email_boton" placeholder="category" name="Email">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button class="search_bt">Search</button>
                </div>
            </div>
            <div class="fashion_menu">
                <ul>
                    {% for category in blablabla %}
                    <li><a href="{{category.get_absolute_url}}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- search box end -->
<!-- section POPULAR STORES start -->
{% block show_category %}
{% endblock %}
<!-- section POPULAR STORES end -->

{% endblock %}